<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="schemeEditorHttpBind">
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="schemeEditorBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Scheme.Editor.SchemeEditorSvc">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/ScadaSchemeEditor/SchemeEditorSvc/" />
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="schemeEditorBehavior"
            binding="webHttpBinding" bindingConfiguration="schemeEditorHttpBind" contract="Scada.Scheme.Editor.SchemeEditorSvc" />
      </service>
    </services>
  </system.serviceModel>
</configuration>