body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 20px;
}
h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 30px 0 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin: 30px 0 20px;
}
p,
ul,
ol {
  line-height: 20px;
  margin: 20px 0 20px;
}
em {
  color: #dd0055;
}
a,
a:active,
a:hover,
a:focus,
a:visited {
  color: #1fa2d6;
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #0074a2;
  text-decoration: underline;
}
.sd-contents-wrapper {
  border-right: 5px solid #ddd;
  display: inline-block;
  margin: 0;
  min-width: 200px;
  overflow: auto;
  padding: 0;
  width: 25%;
}
.sd-contents {
  font-size: 13px;
  margin: 0;
  padding: 10px;
}
.sd-contents-item {
  margin: 7px 0;
}
.sd-contents-item.level1 {
  margin-left: 20px;
}
.sd-contents-item.level2 {
  margin-left: 40px;
}
.sd-contents-item.level3 {
  margin-left: 60px;
}
.sd-contents-item.selected {
  font-weight: bold;
}
.sd-article-wrapper {
  display: inline-block;
  margin: 0;
  overflow: auto;
  padding: 0;
}
.sd-article {
  margin: 0;
  padding: 0 20px;
}
.sd-article-meta {
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}
.sd-article-image {
  text-align: center;
  margin: 20px 0 20px;
}
.sd-article-image img {
  max-width: 100%;
}
table.sd-article-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0 20px;
}
.sd-article-table tr:first-child th,
.sd-article-table tr:first-child td {
  border-top: none;
}
.sd-article-table th,
.sd-article-table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.sd-article-table tr:hover td {
  background-color: #f5f5f5;
}
.gsc-control-cse {
  padding: 0 !important;
}
.gsc-control-cse input {
  box-sizing: content-box;
}