body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#divSchWrapper {
  border: 1px solid red;
  overflow: auto;
}
#scheme.new-component-mode,
#scheme.new-component-mode .comp {
  cursor: crosshair !important;
}