<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0"/>
    <globalization culture="ru-RU" uiCulture="ru-RU" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=10" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>