.notifier {
  position: fixed;
  top: 0;
  left: 0;
  max-height: 100px;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #e5e5e5;
  display: none;
  /*block*/
  font-family: 'Open Sans', sans-serif;
  overflow: auto;
  white-space: nowrap;
}
.notifier .message {
  color: #0073aa;
}
.notifier .message.error {
  color: red;
}