<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="SitemapHandler" path="sitemap.xml" verb="*" type="ScadaDoc.Sitemap, ScadaDoc" />
    </handlers>
  </system.webServer>
</configuration>
