.table-wrapper {
  position: relative;
}
.table-wrapper tr.fixed-table-header {
  position: absolute;
  top: 0;
  left: 0;
}
.table-wrapper tr:first-child td > span,
.table-wrapper tr.fixed-table-header td > span {
  display: block;
}