<%@ Master Language="C#" AutoEventWireup="true" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Test Master Page</title>
    <asp:ContentPlaceHolder ID="cphMainHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form runat="server">
    <div>
        <asp:ContentPlaceHolder ID="cphMainContent" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
