body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  min-width: 300px;
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
label {
  font-weight: 600;
}