<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Agent.Wcf.AgentSvc">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10002/ScadaAgent/ScadaAgentSvc/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Scada.Agent.Wcf.AgentSvc" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>