<?xml version="1.0"?>
<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-UA-Compatible" value="IE=edge" />
      </customHeaders>
    </httpProtocol>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
    </staticContent>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="scadaHttpBind">
        </binding>
        <binding name="scadaHttpsBind">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="scadaBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Web.ClientApiSvc">
        <endpoint address="" behaviorConfiguration="scadaBehavior"
            binding="webHttpBinding" bindingConfiguration="scadaHttpBind" contract="Scada.Web.ClientApiSvc" />
        <!-- Uncomment the block below to allow HTTPS connection -->
        <!--<endpoint address="" behaviorConfiguration="scadaBehavior"
            binding="webHttpBinding" bindingConfiguration="scadaHttpsBind" contract="Scada.Web.ClientApiSvc" />-->
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>
