/*Verdana, Geneva, Tahoma, sans-serif;*/
body {
  margin: 0;
  padding: 30px 0 0 230px;
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  outline: 0;
  color: inherit;
  text-decoration: none;
}
/* Header */
#divMainHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 300px;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  background-color: #23282d;
  color: #eee;
  line-height: 30px;
  white-space: nowrap;
}
.hdr-btn {
  display: inline-block;
  height: 30px;
  margin: 0 0 0 5px;
  padding: 0 10px;
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
}
.hdr-btn:hover {
  background-color: #32373c;
  color: #00b9eb;
  text-decoration: none;
}
.txt-btn {
  color: #eee;
}
.img-btn {
  color: #9ca1a6;
}
.img-btn .glyphicon {
  position: relative;
  top: 2px;
}
#spanMainShowMenu {
  margin: 0 5px 0 -10px;
  font-size: 15px;
  display: none;
  /*display: none;*/
}
#spanMainAppName {
  display: inline-block;
  line-height: 29px;
  font-size: 17px;
}
#divMainUserMenu {
  float: right;
  height: 30px;
}
/* Left Pane */
#divMainLeftPane {
  position: fixed;
  left: 0;
  top: 30px;
  width: 230px;
  min-height: 300px;
  background-color: #23282d;
  color: #eee;
  font-size: 14px;
  overflow: hidden;
}
#divMainTabs {
  position: absolute;
  left: 30px;
  top: 0;
  height: 30px;
  min-width: 200px;
  background-color: #32373c;
  overflow: hidden;
  transform: rotate(90deg);
  transform-origin: left top 0;
}
#divMainTabs .tab {
  margin: 0 0 0 5px;
  padding: 0 10px;
  color: #9ca1a6;
  display: inline-block;
  line-height: 30px;
  white-space: nowrap;
}
#divMainTabs .tab.selected {
  color: #eee;
}
#divMainTabs .tab:hover {
  color: #00b9eb;
  cursor: pointer;
}
/* Main Menu */
#divMainMenu {
  height: calc(100% -  40px);
  padding: 5px 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}
#divMainMenu .menu-item,
#divMainMenu .menu-subitem {
  margin-left: 30px;
  padding: 5px 10px;
  text-decoration: none;
}
#divMainMenu .menu-subitem {
  padding-left: 20px;
  color: #9ca1a6;
  display: none;
  font-size: 13px;
}
#divMainMenu .menu-item:hover,
#divMainMenu .menu-subitem:hover {
  background-color: #191e23;
  color: #00b9eb;
  text-decoration: none;
}
#divMainMenu .menu-item.selected,
#divMainMenu .menu-subitem.selected {
  background-color: #0073aa;
  color: white;
}
#divMainMenu .menu-item a,
#divMainMenu .menu-subitem a {
  display: inline-block;
  width: 100%;
}
#divMainMenu .menu-item.with-expander a {
  width: calc(100% - 20px);
}
#divMainMenu .expander {
  width: 20px;
  cursor: pointer;
  float: right;
  text-align: right;
}
#divMainMenu .expander::before {
  content: "\e257";
  font-family: 'Glyphicons Halflings';
  font-size: 10px;
}
#divMainMenu .expander.expanded::before {
  content: "\e259";
}
/* Collapse Pane */
#divMainCollapsePane {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 40px;
  margin: 0 0 0 30px;
  padding: 5px 10px;
  color: #9ca1a6;
  font-size: 13px;
}
#divMainCollapsePane i {
  margin-right: 10px;
  font-size: 19px;
  position: relative;
  top: 2px;
}
#divMainCollapsePane:hover {
  color: #00b9eb;
  cursor: pointer;
}