/*Verdana, Geneva, Tahoma, sans-serif;*/
body {
  margin: 0;
  padding: 30px 0 0 250px;
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  outline: 0;
  color: inherit;
  text-decoration: none;
}
/* Header */
#divMainHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 300px;
  height: 30px;
  margin: 0;
  padding: 0 10px;
  background-color: #23282d;
  color: #eee;
  line-height: 30px;
  white-space: nowrap;
}
#divMainHeader .hdr-btn {
  height: 30px;
  margin: 0 0 0 5px;
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
}
#divMainHeader .hdr-btn:hover {
  background-color: #32373c;
  color: #00b9eb;
  text-decoration: none;
}
#divMainHeader .txt-btn {
  color: #eee;
}
#divMainHeader .img-btn {
  color: #9ca1a6;
}
#divMainHeader .img-btn .glyphicon {
  position: relative;
  top: 2px;
}
#divMainHeader #spanMainShowMenuBtn {
  margin: 0 5px 0 -10px;
  font-size: 15px;
  display: none;
  /*inline-block*/
}
#spanMainAppName {
  display: inline-block;
  line-height: 29px;
  font-size: 17px;
}
#divMainUserMenu {
  float: right;
  height: 30px;
}
#lblMainNormalViewBtn {
  position: fixed;
  top: 0;
  right: 0;
  height: 30px;
  padding: 0 10px;
  background-color: white;
  display: none;
  /*inline-block*/
  line-height: 30px;
  opacity: 0.5;
  cursor: pointer;
  color: #9ca1a6;
  font-size: 13px;
}
#lblMainNormalViewBtn:hover {
  color: #00b9eb;
  opacity: 1;
}
/* Left Pane */
#divMainLeftPane {
  position: fixed;
  left: 0;
  top: 30px;
  width: 250px;
  min-height: 250px;
  background-color: #23282d;
  color: #eee;
  font-size: 14px;
  overflow: hidden;
}
#divMainLeftPane .tool-window {
  height: calc(100% -  40px);
  margin: 0 0 0 30px;
  padding: 5px 0 0 0;
  display: none;
  /*block*/
  overflow-x: hidden;
  overflow-y: auto;
}
#divMainTabs {
  position: absolute;
  left: 30px;
  top: 0;
  height: 30px;
  min-width: 200px;
  background-color: #32373c;
  overflow: hidden;
  transform: rotate(90deg);
  transform-origin: left top 0;
}
#divMainTabs .tab {
  margin: 0 0 0 5px;
  padding: 0 10px;
  color: #9ca1a6;
  display: inline-block;
  line-height: 30px;
  white-space: nowrap;
}
#divMainTabs .tab.selected {
  color: #eee;
}
#divMainTabs .tab:hover {
  color: #00b9eb;
  cursor: pointer;
}
/* Tree views */
#divMainLeftPane .tree-view .node:hover {
  background-color: #191e23;
  color: #00b9eb;
}
#divMainLeftPane .tree-view .node.selected {
  background-color: #0073aa;
  color: white;
}
#divMainLeftPane .tree-view .node.disabled {
  color: #9ca1a6;
  cursor: default;
}
#divMainLeftPane .tree-view .expander::before {
  font-size: 10px;
}
/* Main Menu */
#divMainMenu .node[data-level="1"],
#divMainMenu .node[data-level="2"],
#divMainMenu .node[data-level="3"],
#divMainMenu .node[data-level="4"],
#divMainMenu .node[data-level="5"] {
  color: #9ca1a6;
  font-size: 13px;
}
#divMainMenu .tree-view .node {
  padding: 5px 10px 5px 10px;
}
#divMainMenu .tree-view .expander.left {
  display: none;
  width: 0;
}
#divMainMenu .tree-view .expander.right {
  display: table-cell;
  width: 20px;
}
/* Explorer */
#divMainExplorer {
  font-size: 13px;
  line-height: 13px;
}
#divMainExplorer .tree-view .node {
  padding: 7px 5px 3px 10px;
}
#divMainExplorer .tree-view .icon {
  width: 21px;
}
#divMainExplorer .tree-view img {
  position: relative;
  top: -2px;
}
/* Collapse Pane */
#divMainCollapsePane {
  position: absolute;
  bottom: 0;
  width: 220px;
  height: 40px;
  margin: 0 0 0 30px;
  padding: 5px 10px;
  color: #9ca1a6;
  font-size: 13px;
}
#divMainCollapsePane i {
  margin-right: 10px;
  font-size: 19px;
  position: relative;
  top: 2px;
}
#divMainCollapsePane:hover {
  color: #00b9eb;
  cursor: pointer;
}