.notif-panel {
  background-color: black;
  bottom: 0;
  opacity: 0.9;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 50%;
}
.notif-panel.mobile {
  width: 75%;
}
.notif-bell {
  color: #9ca1a6;
}
.notif-bell.info {
  color: #eee;
}
.notif-bell.warning {
  color: #eeee00;
}
.notif-bell.error {
  color: #ee0000;
}
.light-back .notif-bell.info {
  color: #9ca1a6;
}
.light-back .notif-bell.warning {
  color: #d39e00;
}
.light-back .notif-bell.error {
  color: #dc3545;
}