<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AgentSvc" transferMode="Streamed" maxReceivedMessageSize="10485760" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10002/ScadaAgent/ScadaAgentSvc/"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AgentSvc"
       contract="AgentSvcRef.AgentSvc" name="BasicHttpBinding_AgentSvc" />
    </client>
  </system.serviceModel>
</configuration>
