<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="schemeHttpBind">
        </binding>
        <binding name="schemeHttpsBind">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="schemeBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Web.Plugins.Scheme.SchemeSvc">
        <endpoint address="" behaviorConfiguration="schemeBehavior"
            binding="webHttpBinding" bindingConfiguration="schemeHttpBind" contract="Scada.Web.Plugins.Scheme.SchemeSvc" />
        <!-- Uncomment the block below to allow HTTPS connection -->
        <!--<endpoint address="" behaviorConfiguration="schemeBehavior"
            binding="webHttpBinding" bindingConfiguration="schemeHttpsBind" contract="Scada.Web.Plugins.Scheme.SchemeSvc" />-->
      </service>
    </services>
  </system.serviceModel>
</configuration>
