<%@ Master Language="C#" MasterPageFile="~/MasterBase.Master" AutoEventWireup="true" CodeBehind="MasterMain.master.cs" Inherits="Scada.Web.MasterMain" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphBaseHead" runat="server">
    <asp:ContentPlaceHolder ID="cphMainHead" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBaseContent" runat="server">
    мастер мейн
    <asp:ContentPlaceHolder ID="cphMainContent" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>