<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CrossDomainSvcBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Scheme.ScadaSchemeSvc">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/ScadaEditor/ScadaSchemeSvc/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="Scada.Scheme.IScadaSchemeSvc" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Scada.Scheme.Editor.CrossDomainSvc">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="webHttpBinding" contract="Scada.Scheme.Editor.ICrossDomainSvc"
                  behaviorConfiguration="CrossDomainSvcBehavior"/>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>