#tblLogin
{
    margin: 0px 0px 30px 30px;
}

#tblLogin td
{
    padding: 5px 10px 5px 0px;
}

#tblAction
{
    width: 100%;
}

#tblAction td
{
    padding: 0px;
}

#tdLast
{
    text-align: right;
}

input[type=text], input[type=password]
{
    width: 220px;
}

select
{
    width: 224px;
    border-color: #7F9DB9;
}

input[type=submit]
{
    width: 107px;
}