body 
{
    margin: 0px;
    background-color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
    overflow: hidden;
}

td
{
    height: 18px;
    padding: 0px 5px;
    border-bottom: 1px solid gray;
    text-align: center;
    white-space: nowrap;
}

td p
{
    line-height: 18px;
    margin: 0px;
    padding: 0px;
}

tr.alt td
{
    background-color: #ffffdc;
}

tr.bot td
{
    border-bottom: 0px;	
}
