#tblInfo 
{
    margin: 0px 0px 20px 30px;
}

#tblInfo td
{
    padding: 5px 10px 5px 0px;
    vertical-align: top;
}

#tblInfo td:first-child
{
    text-align: right;
    white-space: nowrap;
    color: navy;
}

#tblInfo input[type=button]
{
    width: 140px;
}