#divTitle
{
    width: 800px;
    margin: 5px 20px 5px;
    padding-bottom: 50px;
    border-bottom: 1px solid #2286ba;
}

#divContMain
{
    width: 800px;
    min-height: 200px;
    margin: 0px 20px;
    padding: 10px 0px;
}

#divFooter
{
    width: 800px;    
    margin: 0px 20px;
    padding: 5px 0px;
    border-top: 1px solid #2286ba;
}

#divFooter span
{
    font-weight: bold;
    font-size: 9px;
    letter-spacing: 2px;
    margin: 0px 30px;
}