h2
{
    margin: 5px 0px 5px 30px;
}

#tblReport
{
    margin-left: 30px;
}

#tblReport td
{
    font-size: 13px;
    padding: 5px 5px 5px 0px;
}

#tblReport td:first-child
{
    font-weight: bold;
}

#tblReport a
{
    color: navy;
}