<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_AgentSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10002/ScadaAgent/ScadaAgentSvc/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AgentSvc"
                contract="AgentSvcRef.AgentSvc" name="BasicHttpBinding_AgentSvc" />
        </client>
    </system.serviceModel>
</configuration>