<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="schemeHttpBind">
        </binding>
        <binding name="schemeHttpsBind">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Scada.Scheme.ScadaSchemeSvc">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="schemeHttpBind" contract="Scada.Scheme.IScadaSchemeSvc" />
        <!-- Uncomment the block below to allow HTTPS connection -->
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="schemeHttpsBind" contract="Scada.Scheme.IScadaSchemeSvc" />-->
      </service>
    </services>
  </system.serviceModel>
</configuration>