<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AgentSvc" transferMode="Streamed" maxReceivedMessageSize="104857600" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Scada.Agent.Net.AgentSvc">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10002/ScadaAgent/ScadaAgentSvc/" />
          </baseAddresses>
        </host>
        <endpoint address="" 
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AgentSvc" 
                  contract="Scada.Agent.Net.AgentSvc" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
