<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Lib"/>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_AgentSvc" transferMode="Streamed" maxReceivedMessageSize="104857600" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10002/ScadaAgent/ScadaAgentSvc/"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_AgentSvc"
       contract="AgentSvcRef.AgentSvc" name="BasicHttpBinding_AgentSvc" />
    </client>
  </system.serviceModel>
</configuration>
